@font-face {
    font-family: Comfortaa;
    src: url(../Font/Comfortaa-Regular.ttf);
}
body {
    font-family: Comfortaa;
}
.blue-color,.card-body, .header, .navbar {
    background-color: #4ea0b4;
}
.checkout {
    margin-top: 35px;
}
.search_image {
    border-radius: 60%;
}
.my_h1 {
    font-size: 340%;
}
.my_h3 {
    font-size: 300%;
}
.my_h2 {
    font-size: 270;
}
